$white: #f8f8f8;
$red: #d01012;
$yellow: #ffcf00;
$light-blue: #2dafe5;
$font-family: "Lato", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: $font-family;
}

.page {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: $white;

  .main-content {
    height: 100%;
    display: flex;

    &--left {
      width: 55%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(auto-fill, 5vh);

      header {
        grid-row: 1 / 4;

        .navbar {
          height: 100%;
          margin-top: 25px;

          .navbar__content {
            display: flex;
            align-items: center;
            padding-left: 80px;
            animation: 2s navbar 0.5s ease-in-out;

            img {
              width: 50px;
            }

            ul {
              list-style: none;
              display: flex;
              justify-content: space-evenly;
              width: 450px;

              li {
                a {
                  color: $red;
                  text-decoration: none;
                }
              }
            }
          }
        }
      }

      main {
        grid-row: 4 / 13;

        .main-content {
          width: 80%;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
          animation: 2s main-content 0.5s ease-in-out;

          h1 {
            position: relative;
            margin-bottom: 20px;

            span {
              position: absolute;
              font-weight: 300;
              font-size: 26pt;
              top: -25px;
              left: 50px;
            }
            font-size: 42pt;
          }

          p {
            width: 65%;
          }
        }
      }

      footer {
        grid-row: 13 / 21;
        background-color: $yellow;
        border-radius: 0 50px 0 0;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        position: relative;
        animation-name: up-footer;
        animation-duration: 2s;
        animation-delay: 1s;

        div {
          background-color: $light-blue;
          height: 60%;
          width: 25%;
          border-radius: 20px 20px 0 0;
          position: relative;
          cursor: pointer;

          img {
            width: 90%;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            bottom: 50%;
            transition: transform;
            transition-delay: 1s;
            transform: scale(1);
            transition: transform 0.45s ease-in-out;
          }

          &:hover img {
            transform: scale(1.2);
            transition: transform 0.35s ease-in-out;
          }
        }
      }
    }

    &--right {
      width: calc(100vw - 55%);
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      p {
        position: absolute;
        left: 5%;
        transform: rotate(-90deg);
        font-size: 24pt;
        animation: 2s side-content-text 1s ease-in-out;
      }

      img {
        width: 50%;
        z-index: 2;
        animation: 1.5s side-content-image 1s ease-in-out;
      }

      div {
        position: absolute;
        width: 50%;
        height: 100%;
        right: 0;
        background-color: $yellow;
        z-index: 1;
      }
    }
  }

  // Loader
  .loader {
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    position: absolute;
    animation: loader 0.1s forwards;
    z-index: 3;

    div {
      height: 30px;
      width: 30px;
      background-color: $light-blue;
      margin: 10px;
      border-radius: 100px;
      animation: scaling 1.8s ease-in-out infinite;

      &:nth-child(2) {
        animation-delay: 0.2s;
      }

      &:nth-child(3) {
        animation-delay: 0.5s;
      }
    }
  }

  // Modal
  .modal {
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(#000, 0.5);
    z-index: 4;
    display: grid;
    place-items: center;

    &__content {
      width: 50%;
      height: 50%;
      background-color: white;
      position: relative;
      border-radius: 4px;

      i {
        position: absolute;
        font-size: 16pt;
        right: 6px;
        top: 5px;
        cursor: pointer;
        transform: scale(1) translate(0);
        transition: transform 0.4s ease-out;
        z-index: 2;

        &:hover {
          transform: scale(1.2) translate(-5px, 5px);
          transition: transform 0.3s ease-out;
        }
      }

      &--slider {
        width: 100%;
        height: 250px;
        transform-style: preserve-3d;
        display: flex;
        justify-content: center;
        z-index: 1;

        #radio1,
        #radio2,
        #radio3 {
          display: none;
        }

        .cards {
          position: relative;
          height: 100%;
          width: 100%;
          display: grid;
          place-items: center;
          margin-top: 30px;

          .card {
            background-color: $yellow;
            overflow: hidden;
            cursor: pointer;
            position: absolute;
            width: 170px;
            height: 100%;
            display: grid;
            place-items: center;
            border-radius: 5px;
            transition: transform 0.5s ease-in, opacity 0.5s ease-out;

            img {
              width: 100%;
            }
          }
        }

        #radio1:checked ~ .cards #card1,
        #radio2:checked ~ .cards #card2,
        #radio3:checked ~ .cards #card3 {
          opacity: 1;
          z-index: 1;
        }

        #radio1:checked ~ .cards #card2,
        #radio2:checked ~ .cards #card3,
        #radio3:checked ~ .cards #card1 {
          transform: translateX(50%) scale(0.8);
          opacity: 0.5;
          z-index: 0;
        }

        #radio1:checked ~ .cards #card3,
        #radio2:checked ~ .cards #card1,
        #radio3:checked ~ .cards #card2 {
          transform: translateX(-50%) scale(0.8);
          opacity: 0.5;
          z-index: 0;
        }
      }

      &--submit {
        position: absolute;
        width: 110px;
        height: 35px;
        left: 0;
        right: 0;
        bottom: 17px;
        margin: 0 auto;
        color: $white;
        background-color: $red;
        border: none;
        border-radius: 2px;
        font-size: 14pt;
        cursor: pointer;
        transition: transform 0.35s ease-in;

        &:hover {
          transform: scale(1.1);
          transition: transform 0.3s ease-out;
        }
      }
    }
  }

  .hidden {
    display: none;
  }

  .visible {
    display: grid;
  }
}

// Animations
@keyframes loader {
  0%,
  90% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes scaling {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.2);
  }
}

@keyframes navbar {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes main-content {
  0% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes side-content-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes side-content-image {
  0% {
    transform: translateY(650px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes up-footer {
  0% {
    transform: translateY(650px);
  }
  100% {
    transform: translateY(0px);
  }
}
